{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-5 mx-auto">
        <h1 class="h3 mb-4">Register</h1>
        <form method="POST" action="{{ url_for('register') }}" data-disable-on-submit>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required autofocus>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required minlength="6">
                <div class="form-text">At least 6 characters.</div>
            </div>
            <button type="submit" class="btn btn-primary">Create account</button>
            <a href="{{ url_for('login') }}" class="btn btn-link">Already have an account?</a>
        </form>
    </div>
</div>
{% endblock %}
